<header class="header">
  <a href="/" class="header__logo">Node Js</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/admin">
          <i class="fa-solid fa-right-to-bracket"></i>
          SIGN IN
        </a>
      </li>
      <li>
        <a href="/register">
          Register
          <i class="fa-solid fa-address-card"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</header>
